* {
    font-family: "Fira Code Medium", serif;
    cursor: default;
    color: limegreen;
}

body {
    background: black;
    border: 0.5rem outset #32cd32;
    border-radius: 0 1rem 0 1rem;;
    padding: 1rem;
}

h1 {
    border-width: 0.5rem;
    border-radius: 0 1rem 0 1rem;
    border-style: outset;
    padding: 1rem;
    border-color: limegreen;
}

h2,
h3 {
    padding: 0.5rem;
}

li {
    list-style: "■ ";
}

li,
a {
    color: #32cd32;
    padding: 0.1rem;
    margin: 0.1rem;
}

li:hover {
    font-weight: bold;
    color: deepskyblue;
}

a:hover {
    border-width: 0.1rem;
    padding: 0.2rem;
    border-style: outset;
    border-color: crimson;
    cursor: pointer;
}


hr {
    border: 0.1rem solid #32cd32;
}